 

<style>
  
  @media (max-width: 768px) {
    .box {
      margin: 0 !important;
      border-radius: 0 !important;
      max-width: 100% !important;
      padding-left: 0px !important;
      margin-top: 0 !important;
    
    }

    .columns {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .column {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }



  </style>


  <!-- Medium Card -->
<div class="box tight-box" style="background-color: rgb(255, 255, 255); 
box-shadow: none; border-radius: 0; margin-bottom: 0; padding-right: 20px !important;">
  <article class="media">
    <div style="display: flex;">

      <!-- Left: Photo Heading of Article -->
      <div style="width: 100px; height: 100px;">
        <a href="{{ post.get_absolute_url }} " onclick="openPostModal('{{ post.id }}')">
          <img src="{{ post.picture.url }}" alt="Article Image" 
               style="width: 100%; height: 100%; object-fit: cover;" />
        </a>
      </div>

      <!-- Right: Text section -->
      <div style="display: flex; flex-direction: column; justify-content: space-between; margin-left: 15px; 
      height: 100px; flex: 1;">
        <!-- Top section: User image and name, then caption -->
        <div class="content" style="margin-top: -13px;">
          <div class="media" style="align-items: center; border-top: none; margin-bottom: 0.25rem;">
            <div class="media-left">
              <a href="{% url 'profile' post.user.username %}" onclick="event.stopPropagation();">
                <figure class="image is-24x24" style="margin: 0;">
                  <img class="is-rounded"
                       src="{% if post.user.profile.picture %}{{ post.user.profile.picture.url }}{% else %}https://bulma.io/assets/images/placeholders/24x24.png{% endif %}"
                       style="width: 24px; height: 24px; object-fit: cover; background-color: #4e4e4e;">
                </figure>
              </a>                           
            </div>
            <div class="media-content" style="margin-left: -10px;">
              <a href="{% url 'profile' post.user.username %}" onclick="event.stopPropagation();">
                {% if post.user.profile.first_name %}
                <p class="title is-4" style="font-weight:600; font-size: 12px; margin: 0;">
                  {{ post.user.profile.first_name }} {{ post.user.profile.last_name }}
                </p>
                {% else %}
                <p class="title is-4" style="font-weight:600; font-size: 12px; margin: 0;">{{ post.user.username }}</p>
                {% endif %}
              </a>
            </div>
          </div>
          <!-- Caption -->
          <div style="margin-top: 7px; font-size: 15.15px; display: -webkit-box; -webkit-box-orient: vertical; 
          -webkit-line-clamp: 2; line-clamp: 2; overflow: hidden; text-overflow: ellipsis; line-height: 1.2em; 
          height: 3.15em;">
            <a href="{{ post.get_absolute_url }}" style="color: rgb(37, 37, 37); letter-spacing: -0.4px; 
            font-family: 'Inter', sans-serif;">
              {{ post.caption }}
            </a>
          </div>
        </div>
        <!-- Time -->
        <time datetime="{{ post.posted|date:'c' }}" 
              style="font-size: 10.9px; color: #676767; font-family: 'Inter', sans-serif; margin-top: -3px; 
              ">
          {{ post.posted }}
        </time>
      </div> 
    </div>
  </article>
</div>

