

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello BUGEL!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  </head>
  <body>

    <section class="section">
      <div class="container">

        <div class="columns is-mobile is-centered">
          <div class="column" style="max-width: 400px;">

            <div class="card" style="border-radius: 0;">

              <!-- Logo and Title Header -->
              <div class="px-5 py-4 is-flex is-align-items-center" style="justify-content: flex-start; margin-bottom: 20px;">
                <!--<figure class="image" style="width: 46px; height: 46px;">
                  <img src="{% static 'img/COPYRIGHT BMSTRAWE bugel 4.png' %}" alt="BUGEL Logo">
                </figure>-->
                <h1 style="                                    
                  font-weight: 500;
                  font-size: 38px;                  
                 ">
                  Baytruyen
                </h1>
              </div>
           

              <div class="card-content">                
                <form method="post" action="" role="form">
                  {% csrf_token %}           

                  <div class="field">
                    <p class="control">
                      {{ form.username }}
                    </p>
                  </div>

                  <div class="field">
                    <p class="control">              
                      {{ form.password }}                
                    </p>
                  </div>

                  {% if form.errors %}
                  <div class="row">
                    <div class="col s12">
                      <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
                    </div>
                  </div>
                  {% endif %}
                  

                  <div class="field has-text-centered">
                    <p class="control">
                      <button type="submit" value="login" style="font-size: 20px; font-weight: 500; color:rgb(48, 44, 44); width: 130px; height: 30px;">
                        Log in
                      </button>
                    </p>
                  </div>
                  <br>

                  <div class="has-text-centered mt-3">

                  <!--<input type="hidden" name="next" value="{{ next }}">-->
                    <a href="{% url 'signup' %}" style="text-decoration: underline; color: #3273dc; width: 280px; height: 30px;">
                      Create an account
                    </a>
                    </div>

                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

  </body>
</html>


